{{ define "configAuditTab" }}
    <div class="wrapper">
        <div class="myContainer">
            {{ if and (.) (len .) }}
            <div class="table-container" style="margin-bottom: 20px;">
                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                        <button class="toggleAll btn">Expand All</button>
                    </div>
                    <table class="table maintable">
                        <thead>
                            <tr>
                                <th>Control</th>
                                <th class="icon_column">Result</th>
                                <th class="icon_column">Details</th>
                            </tr>
                        </thead>
                        {{ range . }}
                            {{ template "controlDetailTableBodyConfigAudit" . }}
                        {{ end }}
                    </table>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}

{{ define "controlDetailTableBodyConfigAudit" }}
    <tr id="{{ .Name }}" class="toggleRow">
        <td>{{ .Name }}</td>
        {{ if eq .Status "Pass" }}
            {{ template "tick" "HEALTHY" }}
        {{ else if eq .Status "Fail" }}
            {{ template "cross" "FAILED" }}
        {{ else if eq .Status "Critical" }}
            {{ template "cross" "CRITICAL!" }}
        {{ else if eq .Status "WARNING" }}
            {{ template "warning" "WARINING" }}
        {{ end }}
        {{ template "infoIcon" }}
    </tr>
    <tr class="childTableRow" style="display:none;"> <!-- Initially hidden -->
        <td colspan="3"> <!-- Adjust colspan as needed -->
            <div class="scrollable-container">
                <table class="table" id="innerTable">
                    {{ if .FailReason }}
                        <tr>
                            <th>Fail Reason</th>
                            <td>{{ .FailReason }}</td>
                        </tr>
                    {{ end }}
                </table>
            </div>
        </td>
    </tr>
{{ end }}
