{{ define "hbaTab" }}
    <div class="wrapper">
        <div class="myContainer">
            {{ template "controlDetailTableHBA" . }}
        </div>

        {{ template "hbaFailRowsBodyTemplate" . }}
    </div>
{{ end }}

{{ define "controlDetailTableHBA" }}
        <div class="table-container">
            <table class="table maintable">
                <thead>
                    <tr>
                        <th>Control</th>
                        <th class="icon_column">Result</th>
                        <th class="icon_column">Details</th>
                    </tr>
                </thead>
                {{ range . }}
                    {{ template "controlDetailTableBodyHBA" . }}
                {{ end }}
            </table>
        </div>
{{ end }}


{{ define "controlDetailTableBodyHBA"  }}
    <tr id="HBACheck{{ .Control }}-{{ .Description }}">
        <td>HBA Check {{ .Control }} - {{ .Description }}</td>
        {{ if eq .Status "Pass" }}
            {{ template "tick" }}
        {{ else }}
            {{ template "cross" }}
        {{ end }}
        {{ template "infoIcon" }}
    </tr>
    <tr class="childTableRow" style="display:none;"> <!-- Initially hidden -->
        <td colspan="3"> <!-- Adjust colspan as needed -->
            <table class="table" id="innerTable">
                <tr>
                    <th>Description </th>
                    <td>{{ .Description }}</td>
                </tr>
                {{ if .FailRowsInString }}
                    <tr>
                        <th>Failed Rows </th>
                        <td>{{ .FailRowsInString }}</td>
                    </tr>
                {{ end }}
                <tr>
                    <th>Process to Validate </th>
                    <td>{{ .Procedure }}</td>
                </tr>
            </table>
        </td>
    </tr>
{{ end }}

{{ define "hbaFailRowsBodyTemplate" }}
    {{ range . }}
        {{ if eq .Status "Fail" }}
            <div class="failedrowcontainer">
                <h6 class="flaged-title">HBA Check {{ .Control }} - {{ .Description }} (Failure Report)</h6>
                {{ template "hbafailRows" . }}
            </div>
        {{ end }}
    {{ end }}
{{ end }}


{{ define "hbafailRows" }}
    <table class="table failedrowtable">
        <thead>
            <tr>
                <th style="width:100px;">Line No</th>
                <th style="text-align:left;">HBA Entry</th>
            </tr>
        </thead>
        {{ range $i, $row := .FailRows }}
            <tr>
			    <td>{{ index $.FailRowsLineNums $i }}</td>
			    <td>{{ $row }}</td>
           </tr>
        {{ end }}
    </table>
{{ end }}
