{{ define "cross" }}
<td style="text-align:center;"><svg style="color: red" xmlns="http://www.w3.org/2000/svg"
    width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
        fill="red"></path>
    <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
        fill="red"></path>
    </svg></td>
{{ end }}

{{ define "tick" }}
<td style="text-align:center;"><svg style="color: rgb(32, 217, 8);"
    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
    class="bi bi-check-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
        fill="#20d908"></path>
    <path
        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"
        fill="#20d908"></path>
    </svg></td>
{{ end }}

{{ define "infoIcon" }}
    <td style="text-align:center;">
        <svg class="infoIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16"> 
            <path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm169.8-90.7c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V250.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/>
        </svg>
    </td>
{{ end }}

{{ define "dataTables" }}
    {{ range .Tables }}
    <div class="queryResult maintable">
        <p><strong><underline>{{ .Title }}</underline></strong></p>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    {{ range .ColAlias }}
                        <th>{{ . }}</th>
                    {{ end }}
                </tr>
            </thead>
            {{ range .Rows }}
                <tr>
                    {{ range . }}
                        <td>{{ . }}</td>
                    {{ end }}
                </tr>
            {{ end }}
        </table>
    </div>
    {{ end }}
{{ end }}

{{ define "failReason" }}
<tr>
    <th>Fail Reason </th>
    <td>{{ .Reason }}</td>
    </tr>
{{ end }}

{{ define "tableTemplate" }}
    <tr id="{{ .Id }}" class="toggleRow">
        <td>{{ .ControlTitle }}</td>
        {{ if .Result }}
            {{ template "tick" }}
        {{ else }}
            {{ template "cross" }}
        {{ end }}
        {{ template "infoIcon" }}
        
    </tr>
    <tr class="childTableRow" style="display:none;"> <!-- Initially hidden -->
        <td colspan="3"> <!-- Adjust colspan as needed -->
            <table class="table" id="innerTable">
                <tr>
                    <th>Description</th>
                    <td>{{ .Description }}</td>
                </tr>
                {{ .FailReason }}
                <tr>
                    <th>Rationale</th>
                    <td>{{ .Rationale }}</td>
                </tr>
                <tr>
                    <th>Process to Validate</th>
                    <td>{{ .Procedure }}</td>
                </tr>
                <tr>
                    <th>References</th>
                    <td>{{ .References }}</td>
                </tr>
            </table>
        </td>
    </tr>
{{ end }}

{{ define "tabLink" }}
<li class="nav-item">
    <a class="nav-link {{ .Class }}" href="#{{ .Href }}">{{ .Name }}</a>
    </li>
{{ end }}

{{ define "tabContent" }}
<div id="{{ .Id }}" class="tab-pane {{ .Class }}">
    {{ .Body }}
    </div>
{{ end }}

{{ define "progressBarTemplate" }}
<div class="progress-bar" style="cursor: pointer;" onclick="location.href='#{{ .AnchorID }}'">
    <div class="progress-label">
        <span>{{ .SectionName }}</span>
        <span>{{ .Score }}/{{ .MaxScore }} - ({{ printf "%.2f%%" .Percentage }})</span>
    </div>
    <div class="progress">
        <div class="progress-filled" style="width: {{ .Percentage }}%; background-color: {{ .Color }};"></div>
    </div>
</div>
{{ end }}

{{ define "overallBarTemplate" }}
<div class="overall-progress-bar">
    <div class="progress-label">
        <span>{{ .SectionName }}</span>
        <span>{{ .Score }}/{{ .MaxScore }} - ({{ printf "%.2f%%" .Percentage }})</span>
    </div>
    <div class="progress">
        <div class="progress-filled" style="width: {{ .Percentage }}%; background-color: {{ .Color }};"></div>
    </div>
</div>
{{ end }}

{{ define "html" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <title>Test Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
        .expandChildTable:before {
            content: "+";
            display: block;
            text-align: center;
            cursor: pointer;
        }
        #tos p {
            width: 75%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .expandChildTable.selected:before {
            content: "-";
        }

        .childTableRow {
            display: none;

        }

        .innerTableWrapper {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        #innerTable {
            width: auto;
            margin: auto;
        }

        .childTableRow table {
            border: 2px solid #555;
        }

        .maintable {
            margin: 30px 0;
            padding: 20px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.32);
        }

        .infoIcon {
            cursor: pointer;
        }    
        /* Header Styles */
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }

        .header-title {
            font-size: 24px;
            font-weight: bold;
			color: #555;
        }

        /* Container Styles */
        .container {
            margin: 20px auto;
            padding: 20px;
            background-color: #f7f7f7;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        /* Tab Styles */
        .nav-link {
            padding: 10px 20px;
            border: none;
            background-color: #f0f0f0;
            color: #333;
            border-radius: 5px 5px 0 0;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .nav-link.active {
            background-color: #fff;
            color: #333;
        }

        .tab-content {
            display: none;
            padding: 20px;
            background-color: #fff;
            border-radius: 0 5px 5px 5px;
        }

        .tab-content.active-tab {
            display: block;
        }

        .queryResult .table-striped thead tr {
            background-color: #404eb3;
            color: #fff;
        }

        .queryResult .table-striped tbody tr:nth-of-type(odd) {
            background-color: transparent;
        }

        .queryResult .table-striped tbody tr:nth-of-type(even) {
            background-color: #e3e5f4;
        }

        /* Progress bar */
        .overall-progress-bar {
            margin-bottom: 20px;
            border-top: 1px solid #ccc;
            padding-top: 20px;
            background-color: #f7f7f7;
        }

        .progress-bar {
            margin-bottom: 10px;
            background-color: #f7f7f7;
        }

        .progress-label {
            display: flex; 
            justify-content: space-between; 
            background-color: #f7f7f7;
            font-weight: bold;
            margin-bottom: 5px;
            color: #333; 
            width: 100%; 
            padding: 5px 10px; 
            box-sizing: border-box;
        }

        .progress {
            width: 100%;
            border: 1px solid #ccc;
            height: 20px;
        }

        .progress-filled {
            height: 100%;
            transition: width 0.3s ease-in-out;
        }

        #summaryStats {
            margin: 30px 0;
		    padding: 20px;
		    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.32);
        }

    </style>
</head>

<body>
    <header>
        <div class="container">
            <h1 class="header-title">Test Report</h1>
        </div>
    </header>
    <div class="container">
        <ul class="nav nav-tabs">
            {{ .TabLink }}
        </ul>
        <div class="tab-content active-tab">
            {{ .TabContent }}
        </div>
    </div>

	<footer>
		<div class="container">
			Report generated by KloudDB Shield (Klouddb.io)
		</div>
	</footer>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script>
	$(document).ready(function () {
		// Switch active tab and show corresponding content
		$(".nav-link").on("click", function (e) {
			e.preventDefault();
			$(".nav-link").removeClass("active");
			$(this).addClass("active");
			$(".tab-pane").removeClass("active");
			$($(this).attr("href")).addClass("active");
			$(".tab-content").addClass("active-tab");
		});

		// Toggle "selected" class on expandChildTableElement
		$(".infoIcon").on("click", function () {
            $(this).closest('tr').next('.childTableRow').toggle();  // This toggles the next row
        });
	
		// Show the default active tab
		$(".nav-link.active").trigger("click");
	});	
    </script>

</body>

</html>
{{ end }}

{{ define "tos" }}
<p><a href="#{{ .Id }}" title="{{ .Description }}">{{ .Description }}</a></p>
{{ end }}

{{ define "body" }}
<div class="wrapper">
    <div class="myContainer">
        <div class="container">
            
            <div id="summaryStats">
                <h3>Summary</h3>
                {{ .SectionProgressBars }}
                {{ .OverallProgressBar }}       

            </div>

            <div id="tos">{{ .TOS }}</div>
            <div id="queries">{{ .Queries }}</div>
            
            {{ if .PopulateTable }}
            <h3>Control Details</h3>
            <p>{{ .PostgresVersion }}</p>
            <table class="table maintable">
                <thead>
                    <tr>
                        <th>Control</th>
                        <th style="text-align:center;">Result</th>
                        <th>Details</th>

                    </tr>
                </thead>
                {{ .PopulateTable }}
            </table>
            {{ end }}
        </div>
    </div>
    {{ .HbaFailRowsBodyTemplatedata }}
</div>
{{ end }}

 {{ define "hbatabletemplate" }}
 <tr id="{{ .Id }}">
	<td>{{ .ControlDescription }}</td>
    {{ if .Result }}
        {{ template "tick" }}
    {{ else }}
        {{ template "cross" }}
    {{ end }}
    <td class="expandChildTable">
        <div class="childTableRow">
	<!-- <td>
        <div> -->
			<table class="table" id="innerTable">
				<tr>
					<th>Description </th>
					<td>{{ .Description }}</td>
				</tr>
				{{ .HbafailRows }}
				<tr>
					<th>Process to Validate </th>
					<td>{{ .Procedure }}</td>
				</tr>
			</table>
		</div>
	</td>
</tr>
 {{ end }}

 {{ define "hbafailRows" }}
 <tr>
    <th>Failed Rows </th>
    <td>{{ .FailRowsInString }}</td>
    </tr>
 {{ end }}

 {{ define "hbaFailRowsBodyTemplate" }}
 <div class="container">
    <h6>{{ .Headline }}</h6>
</div>
<div class="container">

<table class="table maintable">
<thead>
<tr>
<th>Line Number</th>
<th style="text-align:left;">HBA Entry</th>
</tr>
</thead>
{{ .HbaFailRowsTemplate }}
</table>
</div>
 {{ end }}

 {{ define "hbaFailRowsTemplate" }}
 <tr>
    <td>{{ .LineNumber }}</td>

    <td>{{ .HbaEntry }}</td>
</tr>
 {{ end }}
