{{ define "passwordManager" }}
    <div class="wrapper">
        <div class="myContainer">
            {{ if .CommanUsernames }}
                <div class="data-container">
                    <h6 class="flaged-title">Common Usernames</h6>
                    {{ template "commonUsernames" .CommanUsernames }}
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}


{{ define "commonUsernames" }}
    {{ if eq (len .Usernames) 0 }}
        <div class="no-data-block">
            <p>No Common Usernames found from database</p>
        </div>
    {{ else }}
        <div class="data-block">
            <ul class="tag-list">
                {{ range .Usernames }}
                    <li class="tag">{{ . }}</li>
                {{ end }}
            </ul>
        </div>
    {{ end }}
{{ end }}
