{{ define "tabMapping" }}
    {{ if eq .Title "Postgres Security Report" }}
        {{ template "postgresTab" .Body }}
    {{ else if eq .Title "Mysql" }}
        {{ template "postgresTab" .Body }}
    {{ else if eq .Title "HBA Scanner Report" }}
        {{ template "hbaTab" .Body }}
    {{ else if eq .Title "Password Manager" }}
        {{ template "passwordManager" .Body }}
    {{ else if eq .Title "Log Parser" }}
        {{ template "logparserbody" .Body }}
    {{ else if eq .Title "All" }}
        {{ template "allTab" .Body }}
    {{ else if eq .Title "Users Report" }}
        {{ template "userlistTable" .Body }}
    {{ else if eq .Title "Config Audit" }}
        {{ template "configAuditTab" .Body }}
    {{ else if eq .Title "Compare Config" }}
        {{ template "configCompareTab" .Body }}
    {{ else if eq .Title "PII Scanner Report" }}
        {{ template "piireport" .Body }}
    {{ else if eq .Title "Wraparound Report" }}
        {{ template "transactionWraparound" .Body }}
    {{ else if eq .Title "SSL Report" }}
        {{ template "sslAuditTab" .Body }}
    {{ else if eq .Title "Backup Audit Tool" }}
        {{ template "backupAuditToolTab" .Body }}
    {{ end }}
{{ end }}

{{ define "allTab" }}
    {{ range $index, $tab := . }}
        <h3 class="all-title" >{{ $tab.Title }}</h3>
        {{ template "tabMapping" $tab }}
    {{ end }}
{{ end }}
